## CitiBike System Data Exploration

### by Martin Tschendel

### Preliminary Wrangling

This data set includes information about individual rides made in a bike-sharing system covering the greater San Francisco Bay area. Source of data: [Link](https://www.bikeshare.com/data/)

In [2]:
# import all packages and set plots to be embedded inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

next I will load the dataset

In [6]:
#load in the datasets 
data_1801 = pd.read_csv('data/201801-citibike-tripdata.csv')
data_1802 = pd.read_csv('data/201802-citibike-tripdata.csv')
data_1803 = pd.read_csv('data/201803-citibike-tripdata.csv')
data_1804 = pd.read_csv('data/201804-citibike-tripdata.csv')
data_1805 = pd.read_csv('data/201805-citibike-tripdata.csv')
data_1806 = pd.read_csv('data/201806-citibike-tripdata.csv')
data_1807 = pd.read_csv('data/201807-citibike-tripdata.csv')
data_1808 = pd.read_csv('data/201808-citibike-tripdata.csv')
data_1809 = pd.read_csv('data/201809-citibike-tripdata.csv')
data_1810 = pd.read_csv('data/201810-citibike-tripdata.csv')
data_1811 = pd.read_csv('data/201811-citibike-tripdata.csv')
data_1812 = pd.read_csv('data/201812-citibike-tripdata.csv')

Wall time: 0 ns

Next I will join the datasets

In [17]:
#join dataframes along rows
df_18_NY = pd.concat([data_1801, data_1802, data_1803, data_1804,
                  data_1805, data_1806, data_1807, data_1808,
                  data_1809, data_1810, data_1811, data_1812,], sort=True)

I'm interested in some characteristics of the new data set

In [14]:
df_18_NY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
bikeid                     int64
birth year                 int64
end station id             float64
end station latitude       float64
end station longitude      float64
end station name           object
gender                     int64
start station id           float64
start station latitude     float64
start station longitude    float64
start station name         object
starttime                  object
stoptime                   object
tripduration               int64
usertype                   object
dtypes: float64(6), int64(4), object(5)
memory usage: 2.1+ GB
Wall time: 4.98 ms

compared to the data from the San Francisco Bay Area, we have nearly 10 times more entries for New York.

## Data Quality Issues
I figured out some data quality issues and plan to solve them for the upcoming investigation steps.
* data type of columns 'starttime' and 'endtime' is object and not datetime
* usertype is object and not category
* datatype of start_station_id and end_station_id is float and not category
* gender is currently integer (Zero=unknown; 1=male; 2=female) and should be ideally changed to category (Zero->unknown; 1->male; 2->female)