## CitiBike System Data Exploration

### by Martin Tschendel

### Preliminary Wrangling

This data set includes information about individual rides made in a bike-sharing system covering the greater San Francisco Bay area. Source of data: [Link](https://www.bikeshare.com/data/)

In [1]:
# import all packages and set plots to be embedded inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

next I will load the dataset

In [2]:
#load in the datasets 
data_1801 = pd.read_csv('data/201801-citibike-tripdata.csv')
data_1802 = pd.read_csv('data/201802-citibike-tripdata.csv')
data_1803 = pd.read_csv('data/201803-citibike-tripdata.csv')
data_1804 = pd.read_csv('data/201804-citibike-tripdata.csv')
data_1805 = pd.read_csv('data/201805-citibike-tripdata.csv')
data_1806 = pd.read_csv('data/201806-citibike-tripdata.csv')
data_1807 = pd.read_csv('data/201807-citibike-tripdata.csv')
data_1808 = pd.read_csv('data/201808-citibike-tripdata.csv')
data_1809 = pd.read_csv('data/201809-citibike-tripdata.csv')
data_1810 = pd.read_csv('data/201810-citibike-tripdata.csv')
data_1811 = pd.read_csv('data/201811-citibike-tripdata.csv')
data_1812 = pd.read_csv('data/201812-citibike-tripdata.csv')

Next I will join the datasets

In [3]:
#join dataframes along rows
df_18_NY = pd.concat([data_1801, data_1802, data_1803, data_1804,
                  data_1805, data_1806, data_1807, data_1808,
                  data_1809, data_1810, data_1811, data_1812,], sort=True)

I'm interested in some characteristics of the new data set

In [4]:
df_18_NY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
bikeid                     int64
birth year                 int64
end station id             float64
end station latitude       float64
end station longitude      float64
end station name           object
gender                     int64
start station id           float64
start station latitude     float64
start station longitude    float64
start station name         object
starttime                  object
stoptime                   object
tripduration               int64
usertype                   object
dtypes: float64(6), int64(4), object(5)
memory usage: 2.1+ GB

compared to the data from the San Francisco Bay Area, we have nearly 10 times more entries for New York.

## Data Quality Issues
I figured out some data quality issues and plan to solve them for the upcoming investigation steps.
* data type of columns 'starttime' and 'stoptime' is object and not datetime
* usertype is object and not category
* some column names like 'start station id' have white spaces 
* datatype of start_station_id and end_station_id is float and not category
* gender is currently integer (Zero=unknown; 1=male; 2=female) and should be ideally changed to category (Zero->unknown; 1->male; 2->female)

In [5]:
df_18_NY.head()

,bikeid,birth year,end station id,end station latitude,end station longitude,end station name,gender,start station id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,31956,1992,505.0,40.749013,-73.988484,6 Ave & W 33 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 13:50:57.4340,2018-01-01 14:07:08.1860,970,Subscriber
1,32536,1969,3255.0,40.750585,-73.994685,8 Ave & W 31 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 15:33:30.1820,2018-01-01 15:45:33.3410,723,Subscriber
2,16069,1956,525.0,40.755942,-74.002116,W 34 St & 11 Ave,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 15:39:18.3370,2018-01-01 15:47:35.1720,496,Subscriber
3,31781,1974,447.0,40.763707,-73.985162,8 Ave & W 52 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 15:40:13.3720,2018-01-01 15:45:20.1910,306,Subscriber
4,30319,1992,3356.0,40.774667,-73.984706,Amsterdam Ave & W 66 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 18:14:51.5680,2018-01-01 18:19:57.6420,306,Subscriber

In [6]:
# Change datetype of columns starttime and stoptime to datetime
df_18_NY.starttime = pd.to_datetime(df_18_NY.starttime)

In [7]:
df_18_NY.stoptime = pd.to_datetime(df_18_NY.stoptime)

In [8]:
# Check if datetype of columns starttime and stoptime is changed to datetime
df_18_NY.info('usertype')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
bikeid                     int64
birth year                 int64
end station id             float64
end station latitude       float64
end station longitude      float64
end station name           object
gender                     int64
start station id           float64
start station latitude     float64
start station longitude    float64
start station name         object
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
tripduration               int64
usertype                   object
dtypes: datetime64[ns](2), float64(6), int64(4), object(3)
memory usage: 2.1+ GB

In [9]:
# Change datetype of column usertype from object to category
df_18_NY.usertype = df_18_NY.usertype.astype('category')

In [10]:
# Check if datetype of column usertype is changed to category
df_18_NY.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17548339 entries, 0 to 1016504
Data columns (total 15 columns):
bikeid                     int64
birth year                 int64
end station id             float64
end station latitude       float64
end station longitude      float64
end station name           object
gender                     int64
start station id           float64
start station latitude     float64
start station longitude    float64
start station name         object
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
tripduration               int64
usertype                   category
dtypes: category(1), datetime64[ns](2), float64(6), int64(4), object(2)
memory usage: 2.0+ GB

In [11]:
#rename columns
df_18_NY.rename(columns={'start station id':'start_station_id', 'end station id':'end_station_id'}, inplace=True)

In [12]:
#check if columns have been renamed
df_18_NY.head(1)

,bikeid,birth year,end_station_id,end station latitude,end station longitude,end station name,gender,start_station_id,start station latitude,start station longitude,start station name,starttime,stoptime,tripduration,usertype
0,31956,1992,505.0,40.749013,-73.988484,6 Ave & W 33 St,1,72.0,40.767272,-73.993929,W 52 St & 11 Ave,2018-01-01 13:50:57.434,2018-01-01 14:07:08.186,970,Subscriber

In [ ]:
#also change other column names with white spaces